.skills__list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
  width: 10em;
}

/* media query */
@media (max-width: 768px) {
  .skills__list {
    width: 100%;
    
  }
  .skills__list-item {
    width: 9em;
  }
}
